<div class="projectdisplay-page">
  <div class="projectdisplay-container">
    <h1 class="projectdisplay-header">
      {{ projects[id.toLowerCase()]["title"] }}
    </h1>
    <p class="projectdisplay-text">
      {{ projects[id.toLowerCase()]["tagline"] }}
    </p>
    <h2 class="projectdisplay-header">Development</h2>
    <p *ngFor="let sentence of projects[id.toLowerCase()]['development']" class="projectdisplay-text" style="white-space: pre-line">
      {{sentence}}
    </p>
    <h2 class="projectdisplay-header">Gallery</h2>
  </div>
</div>
