<div class="code-page">
  <div class="code-container">
    <h1 class="code-header">Code Examples</h1>
    <p class="code-text">
      On this page you will find examples of code that I have previously
      written.
    </p>
    <form #snippetform="ngForm" (change)="selectsnippet(snippetform)">
      <select id="select" ngModel #select="ngModel" name="snippetSelect">
        <option
          *ngFor="let options of snippetdata"
          value="{{ options['index'] }}"
        >
          {{ options["name"] }}
        </option>
      </select>
    </form>
    <div class="snippet-wrapper">
      <div
        class="snippet-box snippet-hidden"
        #snippetbox
        [innerHTML]="selectedsnippet"
      ></div>
      <p class="snippet-text">{{ snippetDescription }}</p>
    </div>
  </div>
</div>
