.snippet-keyword {
  color: #c695c6 !important;
}
.snippet-operator {
  color: #f97b58 !important;
}

.snippet-function {
  color: #6699cc !important;
}

.snippet-string {
  color: #99c794 !important;
}

.snippet-constant {
  color: #ec5f66 !important;
}

.snippet-function-argument {
  color: #f9ae58 !important;
}

.snippet-method {
  color: #73bdb0 !important;
}
pre.snip-box {
  color: whitesmoke !important;
}
.code-page {
  display: flex;
  flex-direction: column;
  background-color: #181818;
  min-height: 83.2vh;
}
.code-container {
  width: 80%;
  margin: 25px auto;
  padding: 10px 20px;
  background-color: #252525;
  border-radius: 1px;
  height: 100%;
  opacity: 0;
  animation: slideIn 0.7s forwards;
}
.code-header {
  font-family: "lora", "serif";
  font-weight: 500;
  opacity: 0;
  animation: slideIn 0.7s forwards;
}
.code-text,
.snippet-text {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}
.code-text {
  font-size: 20px;
  opacity: 0;
  animation: slideIn 0.7s 0.7s forwards;
}
form {
  opacity: 0;
  animation: slideIn 0.7s 0.7s forwards;
  padding: 25px 0px;
}

.snippet-wrapper {
  display: flex;
  flex-direction: column;
}
.snippet-box {
  background-color: #141925;
  border-radius: 2px;
  overflow: auto;
}
@media (max-width: 768px) {
  .code-text {
    font-size: 16px;
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-200px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
