.snippet-keyword {
	color: #c695c6 !important;
}

.snippet-operator {
	color: #f97b58 !important;
}

.snippet-function {
	color: #6699cc !important;
}

.snippet-string {
	color: #99c794 !important;
}

.snippet-constant {
	color: #ec5f66 !important;
}

.snippet-function-argument {
	color: #f9ae58 !important;
}

.snippet-method {
	color: #73bdb0 !important;
}

pre{
	color: whitesmoke !important;
}
.code-snippet-box {
	color: antiquewhite !important;
	border: 2px solid #4A5759;;
	border-radius: 4px;
	display: none;
	overflow: auto;
	width: auto;
	font-size: 14px;
}
@media (min-width: 1500px){

	.code-snippet-description{
		width: 500px;
		float: left;
		text-align: left;
		margin-right: 10px;
	}
}
@media (max-width: 1500px){
	.code-snippet-description{
		margin-bottom: 10px;
	}
}
.code-snippet-description{
	padding: 10px;
	border-style: solid;
	border-radius: 5px;
	border-color: #4A5759;
	display: none;
	color: #ffffff;
}