<div class="about-page">
  <div class="about-container">
    <h1 class="about-header">About Me.</h1>
    <span class="about-text about-intro"
      >Hello! My name is Ciarán Melarkey.</span
    >
    <p class="about-text">
      I am a computer science graduate from the Letterkenny Institute of
      Technology! In my spare time I enjoy working on my own projects, reading,
      learning, and gaming. I enjoy working on fullstack web projects, and my
      preferred tools are Vue.js, Node.js, and Express.
    </p>
  </div>
  <div class="skills-container-wrapper">
    <div class="skills-container">
      <h2 class="skills-header">What I'm familiar with.</h2>
      <p class="skills-text">I work with the following tools and languages.</p>
      <div class="showcase-wrapper">
        <div class="skill-showcase-box" *ngFor="let tech of techList">
          <img
            class="skill-showcase-image"
            src="../../assets/{{ tech.toLowerCase() }}.png"
            alt="Icon for {{ tech }}"
          />
          <hr />
          <h3 class="showcase-text">{{ tech }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
