.about-page {
  background-color: #1d1d1d;
  font-family: "Josefin Sans", sans-serif;
}
.about-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.about-description {
  font-size: 20px;
}
.text-pointer-last {
  height: auto;
  width: 1vh;
  background-color: #1d1d1d;
  animation: pointer-anim-last 1000ms linear 1800ms infinite normal;
}
.text-pointer-first {
  height: auto;
  width: 1vh;
  position: relative;
  animation: pointer-anim-first 2000ms linear 0s 1 normal forwards;
}
.fact-header {
  font-family: "Josefin Sans", sans-serif;
}
hr {
  background-color: white;
  opacity: 60%;
  height: 2px;
}
/* Skills section */
.skill:hover {
  transform: scale(1.1);
}
.angular:hover {
  box-shadow: 0px 0px 30px 4px #ffffffd7, 0px 0px 50px 25px #e20303;
}
.bootstrap:hover {
  box-shadow: 0px 0px 30px 4px #ffffffd7, 0px 0px 50px 25px #9726a7;
}
.node:hover {
  box-shadow: 0px 0px 30px 4px #ffffffd7, 0px 0px 50px 25px #49f515;
}
.blue:hover {
  box-shadow: 0px 0px 30px 4px #ffffffd7, 0px 0px 50px 25px #1551f5;
}
.orange:hover {
  box-shadow: 0px 0px 30px 4px #ffffffd7, 0px 0px 50px 25px #f56f15;
}
.javascript:hover {
  box-shadow: 0px 0px 30px 4px #ffffffd7, 0px 0px 50px 25px #f5d315;
}
.skill {
  background-color: white;
  width: 175px;
  height: 250px;
  margin: 40px;
  border-radius: 4px;
  transition: box-shadow 0.3s ease-in-out 0s;
  font-size: 20px;
}
.skill > img {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: auto;
  padding: 5px 5px 20px 5px;
}
.skill > p {
  color: #2c2c2b;
}

hr {
  color: #5f5f5f;
}
/* Animation for the letters */
@keyframes letter-anim {
  0% {
    color: #1d1d1d;
  }
  99.999% {
    color: #1d1d1d;
  }
  100% {
    color: #ffffff;
  }
}
/*Frames to animate the about-text as if it is being written*/
@keyframes pointer-anim-first {
  /* Blank Frame */
  0% {
    background-color: #ffffff;
    left: 0em;
  }
  11.99% {
    background-color: #ffffff;
    left: 0em;
  }
  /* First Frame: < */
  12% {
    background-color: #ffffff;
    left: 0.7em;
  }
  17.99% {
    background-color: #ffffff;
    left: 0.7em;
  }
  /* Second Frame: A */
  18% {
    background-color: #ffffff;
    left: 1.33em;
  }
  23.99% {
    background-color: #ffffff;
    left: 1.33em;
  }
  /* Third Frame: b */
  24% {
    background-color: #ffffff;
    left: 2em;
  }
  35.99% {
    background-color: #ffffff;
    left: 2em;
  }
  /* Fourth Frame: o */
  36% {
    background-color: #ffffff;
    left: 2.6em;
  }
  44.99% {
    background-color: #ffffff;
    left: 2.6em;
  }
  /* Fifth Frame: u */
  45% {
    background-color: #ffffff;
    left: 3.23em;
  }
  49.99% {
    background-color: #ffffff;
    left: 3.23em;
  }
  /* Sixth Frame: t */
  50% {
    background-color: #ffffff;
    left: 3.7em;
  }
  62.99% {
    background-color: #ffffff;
    left: 3.7em;
  }
  /* Seventh Frame: Space */
  63% {
    background-color: #ffffff;
    left: 4em;
  }
  71.99% {
    background-color: #ffffff;
    left: 4em;
  }
  /* Eigth Frame: M */
  72% {
    background-color: #ffffff;
    left: 4.7em;
  }
  77.99% {
    background-color: #ffffff;
    left: 4.7em;
  }
  /* Ninth Frame: E */
  78% {
    background-color: #ffffff;
    left: 5.3em;
  }
  89.99% {
    background-color: #ffffff;
    left: 5.3em;
  }
  /*Tenth Frame: / */
  90% {
    background-color: #ffffff;
    left: 5.9em;
  }
  99.99% {
    background-color: #ffffff;
    left: 5.9em;
  }
  /*Eleventh Frame: > */
  100% {
    display: none;
    left: 6.4em;
  }
}

/* Animation Frames for the pointer at the end of the about-me text */
@keyframes pointer-anim-last {
  0% {
    display: none;
  }
  50% {
    background-color: #1d1d1d;
  }
  50.001% {
    background-color: #ffffff;
  }
  99.999% {
    background-color: #ffffff;
  }
  100% {
    background-color: #1d1d1d;
  }
}

/* Animation Classes*/

.anim-less-than {
  animation: letter-anim 240ms linear 0ms 1 normal forwards;
}
.anim-A {
  animation: letter-anim 360ms linear 0ms 1 normal forwards;
}
.anim-b {
  animation: letter-anim 480ms linear 0ms 1 normal forwards;
}
.anim-o {
  animation: letter-anim 720ms linear 0ms 1 normal forwards;
}
.anim-u {
  animation: letter-anim 900ms linear 0ms 1 normal forwards;
}
.anim-t {
  animation: letter-anim 1000ms linear 0ms 1 normal forwards;
}
.anim-space {
  animation: letter-anim 1260ms linear 0ms 1 normal forwards;
}
.anim-M {
  animation: letter-anim 1440ms linear 0ms 1 normal forwards;
}
.anim-e {
  animation: letter-anim 1560ms linear 0ms 1 normal forwards;
}
.anim-back-slash {
  animation: letter-anim 1800ms linear 0ms 1 normal forwards;
}
.anim-greater-than {
  animation: letter-anim 1950ms linear 0ms 1 normal forwards;
}
