<div class="container h-100">
    <div class="container-fluid h-100 about-page">
        <h1 class="display-4 d-flex fw-bold pt-1" style="color: #242423;">&lt;About Me/&gt;&nbsp;<div class="text-pointer"></div></h1>
        
        <p class="about-text">Some facts about me.</p>
        <ul style="list-style-type:lower-greek;padding: 1;">
            <li class="about-text">
                Wrote my first code in 2013.
            </li>
            <li class="about-text">
                Fixed computers reliably at a young age.
            </li>
            <li class="about-text">
                Keen interest in technology and learning.
            </li>
            <li class="about-text">
                Graduated with Bachelor's Degree in Computer Science from Letterkenny Institute of technology.
            </li>
        </ul>
        <p class="about-text">Languages, Technologies, and Concepts learned.</p>
        <ul style="list-style-type:none;padding: 0;">
            <li class="about-text">HTML</li>
            <li class="about-text">CSS</li>
            <li class="about-text">JavaScript</li>
            <li class="about-text">SQL</li>
            <li class="about-text">PHP</li>
            <li class="about-text">Python</li>
            <li class="about-text">Angular</li>
            <li class="about-text">TypeScript</li>
            <li class="about-text">R</li>
            <li class="about-text">Linux</li>
            <li class="about-text">Virtual Machines</li>
            <li class="about-text">Networking</li>
            <li class="about-text">Data Storage</li>
            <li class="about-text">Advanced Algorithms</li>
        </ul>
        <p class="about-text">
            
        </p>
    </div>
</div>