<div class="container-fluid blog-post-page p-3">
  <a routerLink="/blog"><i class="bi bi-arrow-left-square-fill icon-back pr-2"></i></a>
    <h1 class="display-5 fw-bold">{{title}}</h1>
    {{blogposttext}}
    <div class="container" *ngFor="let row of commentdata">
      <hr>
          <p>{{row[2]}}: {{row[0]}} </p>
            <p>{{row[1]}}</p>
    </div>
    <div class="container">
    <form #postcomment="ngForm" *ngIf="loggedIn === true;else notloggedin" (ngSubmit)="commentSubmission(postcomment)" novalidate="">
      <input type="text" ngModel  #comment="ngModel" id="newcomment" name="newcomment" required>
      <input type="submit">
    </form>
    <ng-template #notloggedin>You are not signed in, please sign in <a routerLink="/login">here.</a></ng-template>
  </div>
</div>
