.project-page {
  display: flex;
  flex-direction: column;
  background-color: #181818;
}
.project-wrapper {
  width: 80%;
  margin: 25px auto;
}
.project-container {
  padding: 10px 20px;
  margin: 0px auto 25px;
  background-color: #252525;
  border-radius: 1px;
  animation: slideIn 0.7s;
}
.project-header,
.showcase-header {
  font-family: "lora", "serif";
  font-weight: 500;
}
.project-link {
  font-family: "lora", "serif";
  font-size: 26px;
}
.project-link:hover {
  font-weight: normal;
}
.project-header {
  animation: slideIn 0.5s;
}
.project-text,
.showcase-text {
  font-family: "Josefin Sans", sans-serif;
}

.project-text {
  opacity: 0;
  animation: slideIn 0.5s 0.5s forwards;
  font-size: 20px;
}
.showcase-text {
  font-size: 16px;
}
.showcase-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 25px;
  overflow: hidden;
}
.showcase {
  background-color: #252525;
  width: 44%;
  border-radius: 1px;
  opacity: 0;
}

.showcase-content-wrapper {
  padding: 10px 20px;
}
a {
  color: white;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
.links {
  display: flex;
  flex: row;
  margin: 0;
  padding: 0;
  gap: 10px;
}
a:hover {
  text-decoration: underline;
  font-weight: bold;
}
.project-image {
  width: 100%;
  margin: 0;
  padding: 0;
  image-rendering: optimizeQuality;
}
.showcase-image {
  position: relative;

  width: 100%;
  background-position: 50% 10%;
  height: 350px;
  background-size: cover;
  color: white;
}
.showcase-header {
  position: absolute;
  padding: 0;
  margin: 10px;
  bottom: 0;
}
.showcase:nth-child(odd) {
  animation: slideIn 0.5s 1s forwards;
}
.showcase:nth-child(even) {
  animation: slideInRight 0.5s 1.5s forwards;
}
@media (max-width: 768px) {
  .project-wrapper {
    width: 90%;
  }
  .showcase-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .showcase {
    padding: 0;
    width: 100%;
  }
  .showcase-text {
    padding: 0px 20px;
  }
  .project-text {
    font-size: 16px;
  }
  .links {
    margin: 10px 20px;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-200px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translate(200px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate(0px, 200px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
