<div class="container h-100">
        <div class="py-2" *ngFor="let row of projectdata">
            <div class="p-5 text-white rounded-3  project-item" style="background-image: linear-gradient(250deg, rgba(255,0,0,0) 11%, rgba(172,172,172,0.10) 11.1%, rgba(172,172,172,0.10) 17%, rgba(255,0,0,0) 17.1%, rgba(255,0,0,0) 30%, #F5CB5C 30.1%),url(../../assets/{{row[4]}}.PNG);background-position: left,right;">
              <h3>{{row[1]}}</h3>
              <p class="project-description">{{row[2]}}</p>
              <a routerLink="/project/:{{row[0]}}"><button class="btn" type="button">View Project</button></a>
              
            </div>
          </div>
</div>