<div class="project-page">
  <div class="project-wrapper">
    <div class="project-container">
      <h1 class="project-header">Projects.</h1>
      <p class="project-text">
        Below are some of my most recent projects, you can check them out on
        GitHub, or on a live version if available.
      </p>
    </div>
    <div class="showcase-container">
      <div class="showcase" *ngFor="let showcase of projects">
        <div
          class="showcase-image"
          style="  background-image: linear-gradient(0deg, #00000088, #ffffff05 100%),
        url(&quot;../../assets/{{
            showcase.name.toLowerCase()
          }}-project-image.png&quot;);"
        >
          <h2 class="showcase-header">{{ showcase.name }}</h2>
        </div>
        <div class="showcase-content-wrapper">
          <p class="showcase-text">{{ showcase.description }}</p>
          <p class="showcase-text">{{ showcase.tech }}</p>
          <ul class="links">
            <a href="{{ showcase.github }}" target="_blank">GitHub</a>
            <a href="{{ showcase.live }}" target="_blank">Live Version</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
