.projects-page {
  font-family: "Josefin Sans", sans-serif;
  background-color: #1d1d1d;
}
.projects-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}
a {
  display: inline-block;
  color: white;
  text-decoration: none;
  border-radius: 7px;
  width: 100px;
  text-align: center;
}
a:hover {
  background-color: #01b5fc8a;
}
ul {
  text-align: center;
  list-style: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 10px;
}
.example-image {
  width: 200px;
  height: auto;
  margin: 20px 50px 0px;
}
figcaption {
  text-align: center;
  font-size: 14px;
}
.images {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
@media (max-width: 720px) {
  .projects-content {
    font-size: 16px;
  }
  .images {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .example-image {
    margin: 0;
  }
}
