.notfound-page {
  min-height: 84.8vh;
  display: flex;
  flex-direction: column;
  background-color: #181818;
  gap: 25px;
}
.notfound-container {
  padding: 10px 20px;
  margin: 0px auto 25px;
  background-color: #252525;
  border-radius: 1px;
  width: 80%;
  margin: 25px auto;
  flex-grow: 1;
}
.notfound-header {
  font-family: "lora", "serif";
  font-weight: 500;
}
.notfound-text {
  font-family: "Josefin Sans", sans-serif;
}
