.svg-link{
    filter: invert(64%) sepia(18%) saturate(809%) hue-rotate(86deg) brightness(94%) contrast(87%);
    transition: filter .1s;
}
.svg-link:hover{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(57deg) brightness(99%) contrast(100%);
}

saved-color{
    color: #348046;
}

.navbar-brand{
    color: aliceblue !important;
    font-family: "Lora", serif;
    transition: font-size .35s ease-in-out;
    border-style: solid;
    border-width: 0px;
    border-color: #68ad7e;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

.nav-link{
    font-family: "Open Sans", sans-serif;
    border-style: solid;
    border-width: 0px;
    color: aliceblue !important;
    transition: font-size .35s ease-in-out;
    border-color: #68ad7e;
}
.dropdown-item{
    color: aliceblue !important;
    font-family: "Open Sans", sans-serif;
}
.dropdown-item:hover{
    background-color: #68ad7e;
}
@media (min-width: 992px){
    .nav-link:hover{
        font-size: 20px !important;
        border-bottom-width: 2px !important;
    }
    .navbar-brand:hover{
        font-size: 22px;
        border-bottom-width: 2px;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
     }
}
