<div class="nav-container preload" #navContainer>
  <header>
    <nav class="navbar">
      <a class="nav-branding" routerLink="/" #brand>Ciarán Melarkey</a>
      <ul class="nav-menu preload" #navMenu>
        <li class="nav-items">
          <a class="nav-link" routerLink="/about" routerLinkActive="active-link"
            >About</a
          >
        </li>
        <li class="nav-items">
          <a
            class="nav-link"
            routerLink="/projects"
            routerLinkActive="active-link"
            >Projects</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link" routerLink="/code" routerLinkActive="active-link"
            >Code Examples</a
          >
        </li>
      </ul>
      <div class="hamburger-lines" #hamburger>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </nav>
  </header>
</div>
<router-outlet></router-outlet>
<div>
  <footer>
    <p class="footer-copyright">© Ciarán Melarkey - 2022</p>
    <ul class="footer-menu">
      <li class="footer-items">
        <a href="https://github.com/Ciaran98" target="_blank">GitHub</a>
      </li>
      <li class="footer-items">
        <a
          href="https://www.linkedin.com/in/ciaran-melarkey-694469194/"
          target="_blank"
          >LinkedIn</a
        >
      </li>
      <li class="footer-items">Email</li>
    </ul>
  </footer>
</div>
