a,
li {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
.nav-branding {
  font-family: "lora", serif;
  font-size: 2rem;
}
a:hover {
  font-weight: bold;
  text-decoration: underline;
}

li {
  list-style: none;
}
header,
footer {
  background-color: #242423;
}
ul {
  padding: 0;
}
.active-link {
  font-weight: bold;
}
.navbar {
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #242423;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.hamburger-lines {
  display: none;
  cursor: pointer;
}
.line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-copyright {
  font-family: "lora", "serif";
}
@media (max-width: 768px) {
  .hamburger-lines {
    display: block;
  }
  .hamburger-lines.active .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger-lines.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger-lines.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-branding {
    font-size: 1.5rem;
  }
  .nav-menu {
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    gap: 0;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    z-index: -1;
    animation: slideOutNavMenu 0.7s ease-in-out 0s 1 forwards;
  }
  .nav-items {
    margin: 16px 0;
  }
  .nav-menu.active {
    animation: slideInNavMenu 0.7s ease-in-out 0s 1 forwards,
      zIndex 0s ease-in-out 0.7s 1 forwards;
  }
  .nav-container.active {
    animation: slideInNavContainer 0.7s ease-in-out 0s 1 forwards;
  }
  .nav-container {
    animation: slideOutNavContainer 0.7s ease-in-out 0s 1 forwards;
  }
  .footer-menu {
    flex-direction: column;
    gap: 20px;
  }
  footer {
    flex-direction: column-reverse;
  }
  .footer-copyright {
    text-align: center;
  }
}
@keyframes slideInNavMenu {
  from {
    opacity: 0;
    top: -100px;
  }
  to {
    opacity: 1;
    top: 70px;
  }
}
@keyframes zIndex {
  from {
    z-index: -1;
  }
  to {
    z-index: 0;
  }
}
@keyframes slideOutNavMenu {
  from {
    opacity: 1;
    top: 70px;
  }
  to {
    opacity: 0;
    top: -100px;
  }
}
@keyframes slideInNavContainer {
  from {
    padding-bottom: 0;
  }
  to {
    padding-bottom: 160px;
  }
}
@keyframes slideOutNavContainer {
  from {
    padding-bottom: 160px;
  }
  to {
    padding-bottom: 0px;
  }
}
.preload {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
}
