ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar,
.footer {
  background-color: #242423;
}
.navbar-brand {
  color: #ffffff !important;
  font-family: "Lora", serif;
  font-size: 20px;
  border-radius: 7px;
  padding: 5px;
}
.navbar {
  height: auto;
}
.nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #ffffff;
  border-radius: 7px;
}
.footer-item {
  padding-left: 25px;
  padding-right: 25px;
}
.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-icon {
  font-size: 40px;
  color: #ffffff;
}
.nav-link-text {
  font-weight: normal;
}
.nav-link:hover,
.navbar-brand:hover {
  background-color: #01b5fc8a;
}

@media (max-width: 720px) {
  .footer-flex {
    flex-direction: column;
  }
  .footer-icon {
    font-size: 30px;
  }
}
