<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
  <a class="navbar-brand" routerLink="/">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" (click)="setTitle('Ciaran Web - About')">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/code" (click)="setTitle('Ciaran Web - Code')">Code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog" (click)="setTitle('Ciaran Web - Blog')">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" (click)="setTitle('Ciaran Web - Login')">Login</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>

<footer class="text-center text-white fixed-bottom bg-light">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/Ciaran98" role="button" target="_blank" data-mdb-ripple-color="dark">
        <img src="../assets/github.svg" alt="github" width="32" height="32" class="svg-link">
      </a>
    </li>
    <li class="nav-item">
      <a class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/in/ciaran-melarkey-694469194/" target="_blank" role="button" data-mdb-ripple-color="dark">
        <img src="../assets/linkedin.svg" alt="linkedin" width="32" height="32" class="svg-link">
      </a>
    </li>
    <li class="nav-item">
      <a class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="mailto:ciaran.melarkey@hotmail.com" role="button" data-mdb-ripple-color="dark">
        <img src="../assets/envelope-fill.svg" alt="email" width="32" height="32" class="svg-link">
      </a>
    </li>

  </ul>
</footer>

