<div class="container-fluid h-auto">
        <div class="py-2"  *ngFor="let row of blogdata">
          <div class="p-5 text-white rounded-3  blog-item" style="background-image: linear-gradient(250deg, rgba(255,0,0,0) 11%, rgba(172,172,172,0.10) 11.1%, rgba(172,172,172,0.10) 17%, rgba(255,0,0,0) 17.1%, rgba(255,0,0,0) 30%, #f5cb5c 30.1%);background-position: left,right;">
              <h3>{{row["blogtitle"]}}</h3>
              <p>{{row["blogdescription"]}}</p>
              <a routerLink="/blog_post/:{{row['blogindex']}}"><button class="btn" type="button">View Post</button></a>
            </div>
          </div>
</div>