/* You can add global styles to this file, and also import other style files */

body {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #ffffff !important;
    color: #000000 !important;
    font-family: 'Noto Sans', sans-serif !important;
}