/* You can add global styles to this file, and also import other style files */

body {
    background-color: #F5CB5C;
    background: linear-gradient(135deg, #24242355 25%, transparent 25%) -25px 0/ 50px 50px, linear-gradient(225deg, #242423 25%, transparent 25%) -25px 0/ 50px 50px, linear-gradient(315deg, #24242355 25%, transparent 25%) 0px 0/ 50px 50px, linear-gradient(45deg, #242423 25%, #F5CB5C 25%) 0px 0/ 50px 50px;
    color: #ffffff !important;
    font-family: 'Noto Sans', sans-serif !important;
}

html,body{
    height: 100%;
}
