<div class="container-fluid h-75 home-page">
  <div class="home-padding d-block rounded">
    <img
      class="rounded-circle img-fluid mx-auto d-block header-img"
      src="/assets/headshot.png"
    />
    <h1 class="d-flex justify-content-center home-header">
      Hi, I'm&nbsp;
      <span class="letters">C</span>
      <span class="letters">i</span>
      <span class="letters">a</span>
      <span class="letters">r</span>
      <span class="letters">á</span>
      <span class="letters">n</span>&nbsp;
      <span class="letters">M</span>
      <span class="letters">e</span>
      <span class="letters">l</span>
      <span class="letters">a</span>
      <span class="letters">r</span>
      <span class="letters">k</span>
      <span class="letters">e</span>
      <span class="letters">y</span>.
    </h1>
    <p class="d-flex justify-content-center home-text">Welcome to my site.</p>
  </div>
</div>
