@media (max-width: 720px) {
  .home-header,
  .home-text {
    font-size: 1.5em !important;
  }
  .header-img {
    height: 200px;
    width: auto;
  }
  .home-padding {
    padding-top: 30% !important;
  }
}

@media (min-width: 1024px) {
  .letters:hover {
    transform: translate(0px, -20px);
  }
}
.home-header,
.home-text {
  font-size: 3em;
}
.letters {
  transition: transform 0.2s ease-out;
  font-weight: bold;
  font-family: "Lora", serif;
}

.home-header {
  margin-top: 20px;
  cursor: default;
}

.home-page {
  color: #ffffff;
  background-color: #1d1d1d;
}
.home-padding {
  padding-top: 6%;
}
