
.headshot-img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border-radius: 50%;
}
@media (min-width: 769px){
.home-text-container{
  margin-left: 15%;
  margin-right: 15%;
}
}
.home-text{
  text-align: justify;
}
.home-qualification-text{
  font-size: 25px;
}